body{
}
header{
    background-image: url("img/background.jpg");
    text-align: center;
    width: 100%;
}
footer,nav{
    background-color: #061339;
    color: aliceblue;
}
footer{
    text-align: end;
}
footer > p{
    margin-right: 0.25rem;
}
h2,div > h3{
    color: #2F4073;
}
p{
    margin: 0;
}
h1{
    padding: 40px;
    margin: 0;
    color: white;
}
nav > h3{
    margin: 0;
}

/*Mise en forme du corp (partie haute) du site*/

div > img{
    width: 20%;
    height: 20%;
}
form{
    border: 1px solid black;
    border-radius: 1px;
    padding: 10px;
}
.inline{
    display: inline-block;
}
section.haut > img.inline{
    margin-left: 1em;
    margin-top: 2em;
}
div.inline{
    width:300px;
    vertical-align: top;
    margin: 1em;
}
nav > h3{
    margin-left: 15%;
    margin-right: 15%;
}
.haut{
    padding-bottom: 2%;
    background-color: #F1F1F1;
    padding-left: 15%;
    padding-right: 15%;
}
.submit{
    margin-top: 5px;
    border-radius: 0.25rem;
    background-color: #5CB85C;
    padding: 10px;
    color: white;
    font-size: 20px;
}

textarea{
    width:100%;
}
input{
    width: 100%;
}
select{
    width: 100%;
    background-color: white;
    border: none;
    padding: 0.2rem;
}
div > h3{
    text-align: center;
}
/*Mise en forme du corp (partie basse) du site*/
div > p{
    width: 70%;
    vertical-align: top;
}

.bas{
    background-color: #dedede;
    padding-top: 10px;
    padding-bottom: 20px;
}
.bas > div,.bas > h2{
    margin-left: 15%;
    margin-right: 15%;
}
.bas > div > img{
    background-color: #7885a5;
}

@media(max-width: 760px){
    nav > h3{
        margin-left: 5%;
        margin-right: 5%;
    }
    section{
        margin-left: 5%;
        margin-right: 5%;
    }
}